/* root/react-app/src/components/LoginFormModal/LoginForm.css */
.ls-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 16px;
    margin-top: 32px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10vh; /* Adjust the value as needed */
    transform: translate(-50%, 30%); /* Center horizontally */
    left: 50%;
  }

.ls-form button {
    margin: 1em;
}

.ls-form button.demo-login {
    background-color: green;
    border-color: green;
    transition: background-color 0.3s;
    &:hover {
        background-color: darkgreen;
    }
}
