/* root/react-app/src/components/TuringMachinePage/turingMachine.css */
.machine-page {
  display: flex;
  flex-direction: column;
    /* border: solid;
    border-width: 4px;
    border-color: blueviolet; */
    margin-top: 20vh; /* Adjust the top margin to match the height of the top bar */
    height: calc(100vh - 20vh);
    /* overflow-y: auto;  */
    padding-top: 40px;
    margin-left: 15%; /* Adjust the left margin to match the width of the side bar */
    padding: 16px;
  }

  .machine-page .description h2 {
    font-size: 48px;
    color: black;
    margin: 0;
    text-align: center;
  }
.machine-page .description p {
  font-size: 16px;
  margin-top: 0px;
}

/* styling for update and delete machine buttons */

.m-change {
  display: flex;
  /* border: solid green; */
  justify-content: center;
}

.m-change button {
  color: whitesmoke;
  /* margin: 16px; */
  cursor: pointer;
  border: none;
}

.m-change button.delete {
  background-color: red;
}

.m-change button.update {
  background-color: #007bff;
}

.basics-and-instructions {
  display: flex;
  justify-content: space-between;
}

.machine-basics h3 {
  margin-bottom: 8px;
}
.machine-basics .error {
  font-size: 12px;
  color: red;
}

.machine-page .tape {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.tape .square {
  width: 60px; /* Adjust the size of the squares as needed */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
  border: solid black;
  border-width: 4px 2px;
  margin-right: 0px;
}

.tape .central.square {
  border-width: 10px 6px; /* Thicker border for the central square */
  width: 48px;
  height: 48px;
}

.tape .square p {
  font-size: 32px;
}

.machine-controls button {
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.machine-controls .run-machine {
  background-color: green;
  &:hover {
    background-color: darkgreen;
  }
}

.machine-controls .reset-machine {
  background-color: darkgray;
  &:hover {
    background-color: gray;
  }
}

.machine-page .machine-controls {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.machine-page .machine-basics .symbols p {
  display: inline-block;
  margin-right: 16px;
}

.machine-basics .results-box {
  border: solid 8px #4A6897;
}

.machine-instructions .active {
  color: green;
  text-decoration: underline;
}

.run-error {
  width: 50%;
  border: solid 8px red;
  display: flex;
  align-self: center;
  margin-top: 24px; /* Adjust the margin as needed */
}

.run-error p {
  margin: 2% 5%;

}

p.reset-info {
  align-self: center;
}
