/* TODO Add site wide styles */

* {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'IM Fell English', serif;
    /* font-style: italic; */
}

button {
    border-radius: 16px;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    padding: 8px 16px;
    background-color: #9D9B9B;
    border-color: #9D9B9B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.page, form:not(.ls-form, .login-form, .instruction-form) {
    margin-top: 20vh; /* Adjust the top margin to match the height of the top bar */
    height: calc(100vh - 20vh);
    padding-top: 40px;
    margin-left: 15%; /* Adjust the left margin to match the width of the side bar */
    padding: 16px;
}
