 /* root/react-app/src/components/TuringMachineForm/machineForm.css */

.machine-form {
    margin-top: 20vh; /* Adjust the top margin to match the height of the top bar */
    height: calc(100vh - 20vh);
    padding-top: 40px;
    margin-left: 15%; /* Adjust the left margin to match the width of the side bar */
    padding: 16px;
  }

  h2.error-heading {
    text-align: center;
    margin-top: 20vh; /* Adjust the top margin to match the height of the top bar */
    height: calc(100vh - 20vh);
    padding-top: 40px;
    margin-left: 15%; /* Adjust the left margin to match the width of the side bar */
    padding: 16px;
  }

  .machine-form h2 {
    text-align: center;
  }

  .heading {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
    color: #666;
  }

  .form-group {
    flex: 1;
    margin-right: 10px;
  }

  .machine-form .buttons {
    display: flex;
    /* gap: 10px; */
    width: 50%;
    /* align-self: center; */
    align-items: center;
    justify-content: space-between;
    /* border: solid 4px green; */
    margin-top: 20px;
    padding-bottom: 16px;
  }

  .machine-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background-color: #324b69;
    }
  }

  .machine-form button.cancel {
    background-color: darkgray;
    &:hover {
      background-color: gray;
    }
  }

  .error-message {
    color: #ff0000;
    font-size: 14px;
  }
