/* root/react-app/src/components/Navigation/Navigation.css */

/* .profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
} */

.fa-user-circle {
  color: darkblue;
  font-size: 64px;
}

.hidden {
  display: none;
}

.logo {
  /* font-size: 24px; */
  max-height: 64px;
  width: auto;
}

.top-bar {
  background-color: #4A6897;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
  /* justify-content: space-between; */
  top: 0;
  height: 20vh;
  width: 100%;
  /* position: relative; */
  position: fixed;
  z-index: 1;
}

.top-bar .home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.top-bar .home-link > a {
  text-decoration: none;
}

#zone-heading {
  color: whitesmoke;
  text-align: center;
  font-size: 48px;
  margin: 0;
  padding: 0;
  border: 2px solid #FFD700;
}

.top-bar .session-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 32px;
  border: 2px solid #ADFF2F;
  /* justify-content: space-between; */
}

.top-bar .session-links > * {
  margin: 16px;
}

/* Left sidebar */
.side-bar {
  background-color: #BAB3B3;
  position: fixed;
  top: 20vh; /* Adjust the top position to match the height of the top bar */
  bottom: 0;
  width: 15%; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
